/*General all pages */
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url("https://mdn.github.io/web-fonts/LatoReg.ttf");
}

body {
  font-family: Lato, sans-serif;
  color: black;
}
* {
  padding: 0;
  margin: 0;
}

/*index.html Page CSS*/
/*Nav Section */
nav {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  padding: 0em 3em;
  background: #ffffff; 
}

nav ul {
  display: flex;
  list-style: none; 
}

nav li {
  padding-left: 1em; 
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #4654A3;
  padding: 16px;
  font-size: 1.1em;
  font-weight: 400;
  border-radius: 5px;
  
}

nav a:hover {
  background-color: #4654A3;
  color: white;
  }
/*Banner Section */
  .banner
  {
  background:linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
  url("images/banner.jpg")
  no-repeat center / cover;
  width:100%;
  height:70vh;
  display: flex;
}
  .banner-2 /*Banner for other page*/
  {
  background:linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)),
  url("images/banner.jpg")
  no-repeat center / cover;
  width:100%;
  height:35vh;
  display: flex;
}
.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content 
{
  color:#fff;
  width:65%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}  

.banner-content h1
{
  margin-bottom: 10px;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 3px;

}

.banner-content p
{
  margin-bottom: 40px;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
}
.banner-content a
{
  text-decoration:none;
  
}
.banner-content .btn-one
{
  padding: 10px 30px;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1.2em;
  color: #fff;
}

.banner-content .btn-one:hover
{
  background-color: #4654A3;
  border:2px solid white;
  color: white;
}

/*Section 1 - Who we are */
.section-1 {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
}
.container-1 {
width: 55%;
height: fit-content;
max-width: 1000px;
margin: 50px auto;
display: flex;
align-items: center;
justify-content: center;
}
.right {
width: 60%;
height: 400px;
background: url(images/about.jpg)
  no-repeat center / cover;
border-radius: 8px;
margin-left: -30px;
box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
}
.left {
width: 70%;
min-height: 500px;
background-color: #4654A3;
display: flex;
align-items: center;
justify-content: center;
padding: 30px;
border-radius: 8px;
color: white;

}
.left h1 {
font-size: 2.5em;

}
.left p {
margin: 30px;
margin-bottom: 50px;
font-weight: 500;
line-height: 30px;
}

/* Section 1 - mobile screen - Enhancement */
@media only screen and (max-width: 768px) {
.container-1 {
  flex-direction: column;
  width: 100%;
  margin: 0 20px;
}
.left {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}
.right {
  width: 90%;
  margin: 0;
  margin-top: -30px;
}
}

/* What We Offer Section */

*,
*::before,
*::after {
box-sizing: border-box;
}


.main{
max-width: 1030px;
margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

img {
height: auto;
max-width: 100%;
vertical-align: middle;
}

.btn {
color: #ffffff;
padding: 0.8em;
font-size: 14px;
text-transform: uppercase;
border-radius: 4px;
font-weight: 400;
display: block;
width: 100%;
cursor: pointer;
border: 1px solid rgba(255, 255, 255, 0.2);
background: transparent;
}

.btn:hover {
background-color: rgba(255, 255, 255, 0.12);
}

.cards {
display: flex;
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
}

.cards_item {
display: flex;
padding: 1em;
width: 33.333%
}

/* What we offer Section - mobile screen - Enhancement */
@media only screen and (max-width: 768px){
  .cards_item {
    width: 50%;
  }
  }

@media only screen and (max-width: 640px){
    .cards_item {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    }
  

.card {
background-color: white;
border-radius: 0.25em;
box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
overflow: hidden;
}

.card_content {
padding: 1em;
background: linear-gradient(to bottom left, #7c8bdd 10%, #4654A3 100%);
}

.card_title {
color: white;
font-size: 1.1em;
font-weight: 600;
letter-spacing: 1px;
margin-bottom: 10px;
}

.card_text {
color: white;
font-size: 0.875em;
line-height: 1.5;
margin-bottom: 1.25em;    
font-weight: 400;
}


/*Footer Section*/
footer{
margin-top: 30px;
padding: 30px 20px;
background: #4654A3;

}

.container-footer{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fti{
  font-size: 1em;
  margin-bottom: 1em;
  color: white;
  flex-basis: 18%;
}

.content-footer{
  list-style: none;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content-footer li a{
  color: white;
  
}

.fti form {
  display: flex;
  align-items: center;
  width: 100%;
}

.fti input{
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 0;
  background: white;
  border-radius: 5px;
}

.fti button{
  background: white;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 0px;
}

/* Footer Section - mobile screen - Enhancement */
@media only screen and (max-width: 768px){
  footer .fti{
    flex-basis: 80%;
    margin: 0 auto;
  }
  .fti form{
    flex-direction: column;
  }
  .fti input{
    width: 90%;
    margin: 5px auto;
  }
}

/*about.html page CSS */
/*About our group Section*/
.container-about {
  width: 100%;
  max-width: 1185px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .right-about {
  width: 50%;
  height: 350px;
  background: url(images/tbgroup_1.jpg)
  no-repeat center / cover;
  border-radius: 8px;
  margin-left: 50px;
  filter: brightness(85%);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  }
  .left-about {
  width: 45%;
  min-height: 350px;
  background-color: #4654A3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  color: white;
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  }
.profile-content h1{
  margin-bottom: 50px;
}
.profile dt{
  float: left;
  clear: left;
  margin-right: 0px;
  width: 150px;
  }

.profile dd{
  margin-left: 180px;
}

.profile a{
  color: white;
}

/*Member Profile Section*/
figure img{
  width: 30%;
  height: auto;
  float: right;
  margin: 10px;
  padding-right: 10%;
  }
.container-about-2{
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
}

.cta {
  background: #333;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 230px;
  border-radius: 10px;
  margin-right: 0.5%;
}
.cta:hover img {
  top: -30%;
  filter: brightness(70%);
  cursor: pointer;
}
.cta:hover .text {
  bottom: 0;
}
.cta img {
  bottom: 0;
  filter: brightness(100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  width: 100%;
}
.cta .text {
  bottom: -29%;
  padding: 15px;
  position: absolute;
  transition: 0.5s ease-in-out;
}
.cta .text h2 {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
}
.cta .text p {
  color: #fff;
  font-weight: 300;
  font-size: 0.95em;
}

/*Time Table Section*/
.timetable{
  clear: both;
  text-align: center;
  margin: 1em 0;
}

table{
  width: 1185px;
  margin: 0 auto;
  overflow-x: auto;
  margin-top: 3%;
}
table th {
  background-color:#4654A3;
  height:2%;
  width:2%;
  padding:2%;
  color:#ffffff;
  border:1px solid #000;
  text-align:center;
  font-weight:600;
  border-radius:5px;
}

table td {
  align-content:center;
  text-align:center;
  background-color:#d0cfe7;
  color:#202020;
  padding:1%;
  border:1px solid #000;
  border-radius:5px;
  font-weight: 600;
}

.table-color{
    background-color: #8f9ef1;
}

.table-color:hover{
  background-color: white;
  cursor: pointer;
}

/*jobs.html Page CSS*/
h1 {
	padding-left: 36px;
	padding-top: 32px;
}

.job-content{
  min-height: 600px;
}
aside {
  font-family: 'Lato', sans-serif;
	width: 25%;
	margin-right: 10%;
	margin-top: 4.5%;
	padding: 24px;
  float: right;
	font-size: 1em;
	background-color: #7781bd;
	border: solid 4px #4654A3;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	border-radius: 8px;
  box-shadow: 0 20px 10px -15px rgba(0, 0, 0, 0.25);
}

aside p {
  font-size: 1em;
  }

aside .btn-one
{
  margin-top: 30px;
  padding: 10px 30px;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
}

aside .btn-one:hover
{
  background-color: #4654A3;
  border:2px solid white;
  color: white;
}
.jobAside{
	padding-bottom: 10px;
  
}
#asideHead{
	font-size:1em;
	text-align: left;
  padding-bottom: 20px;
}

.accordion{
  width: 90%;
	max-width: 600px;
	margin-left: 20%;
	margin-right: auto;
	margin-top: 5em;
	margin-bottom: 5em;
}

details div {
	border-left: 2px solid #4654A3;
	border-right: 2px solid #4654A3;
	border-bottom: 2px solid #4654A3;
  border-top: 2px solid #4654A3;
	padding: 1.5em;
  border-radius: 10px;
}

details div > * + * {
	margin-top: 1.5em;
}

details + details {
	margin-top: .5em;
}

summary {
	list-style: none;
  border-radius: 10px;
}

summary::{
	display: none;
}

summary {
	border: 2px solid #4654A3;
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75em + .75em + .75em);
  margin-bottom: 10px;
}

summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75em;
	content: "↓";
	width: 1.75em;
	height: 1.75em;
	background-color: #000;
	color: #FFF;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

details[open] summary {
	background-color: #eee;
}

details[open] summary:before {
	content: "↑";
}

summary:hover {
	background-color: #eee;
}

/*apply.html page CSS */
.apply {
  margin-top: 2%;
  width: 40%;
  display: flex;
  background-color: #4654A3;
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.container-apply {
  width: 100%;
  padding: 5% 10%;
}

.container-apply h1 {
  align-self: center;
}

form {
  width: 100%;

}
form > * {
  margin-top: 20px;
}
input, textarea{
  width: 100%;
  min-height: 25px;
  border: 0;
  font-size: 0.8em;
  margin-top: 5px;
  color: black;
  border-radius: 4px;
  font-family: Lato;
}

form label {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: white;
}

legend {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: white;
  margin-top: 20px;
 }

.check input{
  margin-top: 20px;
  width: 5%;
  min-height: 5px;
  font-size: 0.8em;
  margin-top: 5px;
}

fieldset{
  border-style:ridge;
  border-radius: 5px;
}

form h1 {
  font-size: 1.5em;
  line-height: 10px;
  color: white;
  letter-spacing: 1px;
}
form h1:nth-of-type(2) {
  margin-top: 10%;
}

form select {
width: 100%;
  min-height: 25px;
  border: 0;
  font-size: 1em;
  margin-top: 5px;
  color: black;
  border-radius: 4px;
}

.name {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.name div {
  width: 45%;
}

.address-info {
  display: flex;
  justify-content: space-between;
}
.address-info div {
  width: 30%;
}

.email-info {
  display: flex;
  justify-content: space-between;
}
.email-info div {
  width: 45%;
}

.btns-apply {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btns-apply button {
  margin: 3px 0;
  padding: 16px;
  width: 30%;
  color: white;
  background-color: #4a3b76;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 1em;
}

/* enhancement.html Css */
.enhancements {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
